<ion-view view-title="Login">
    <ion-nav-bar class="bar-dark"></ion-nav-bar>
    <ion-nav-buttons side="left">
        <button class="button">
            Left Button
        </button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button class="button">
            Right Button
        </button>
    </ion-nav-buttons>
    <ion-content class="padding">
        <div class="list">
            <label class="item item-input item-stacked-label">
                <span class="input-label">User name</span>
                <input type="text"/>
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Password</span>
                <input type="password"/>
            </label>
            <button class="button button-full button-positive">
                Login
            </button>
        </div>
    </ion-content>
</ion-view>